<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QRdappio &mdash; Editar Item</title>
    <meta name="description" content="Cardápio digital para o seu negócio.">
    <meta name="keywords" content="menu, cardapio, qrcode, digital, comida">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
{% if user.is_authenticated %}
<body>
<form method="POST" class="post-form" action="/update/{{item.id}}">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Editar Item</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-4">
                <input type="text" name="nome" id="id_nome" required maxlength="20" value="{{ item.nome }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descrição:</label>
            <div class="col-sm-4">
                <input type="text" name="descricao" id="id_descricao" required maxlength="20" value="{{ item.descricao }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Imagem:</label>
            <div class="col-sm-4">
                <input type="text" name="imagem" id="id_imagem" required maxlength="256" value="{{ item.imagem }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Preço:</label>
            <div class="col-sm-4">
                <input type="number" name="preco" id="id_preco" required maxlength="20" min="0" value="0" step=".01" value="{{ item.preco }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Atualizar</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>
{% endif %}