<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QRdappio &mdash; Cardápio Digital</title>
    <meta name="description" content="Cardápio digital para o seu negócio.">
    <meta name="keywords" content="menu, cardapio, qrcode, digital, comida">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
<section class="probootstrap-section-bg overlay" style="background-image: url(../static/img/hero_bg_2.jpg);" data-stellar-background-ratio="0.5" data-section="specialties">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center probootstrap-animate">
                <div class="probootstrap-heading">
                    <h2 class="primary-heading">Green</h2>
                    <h3 class="secondary-heading">Container</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="probootstrap-cell-retro">
                {% for item in itens %}
                <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                    <div class="image" style="background-image: url({{ item.imagem }});"></div>
                    <div class="text text-center">
                        <h3>{{ item.nome }}</h3>
                        <p>{{ item.descricao }}</p>
                        <p class="price">R${{ item.preco }}</p>
                        <a href="/edit/{{ item.id }}"><span class="btn btn-success" >Editar</span></a>
                        <a href="/delete/{{ item.id }}" class="btn btn-danger">Excluir</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<br>
<br>
<center><a href="/emp" class="btn btn-primary">Adicionar novo item</a></center>
<br>
<br>
<section class="probootstrap-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 probootstrap-animate">
                <div class="probootstrap-footer-widget">
                    <h3>Endereço</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p> Rua um dois três da Silva <br> Campinas</p>
                        </div>
                        <div class="col-md-6">
                            <p> Rua quatro cinco seis <br> Campinas </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 probootstrap-animate">
                <div class="probootstrap-footer-widget">
                    <h3>Horários de funcionamento</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Segunda - Quinta <br> 5:30pm - 10:00pm</p>
                        </div>
                        <div class="col-md-4">
                            <p>Sexta - Domingo <br> 5:30pm - 10:00pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
</body>
</html>