<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QRdappio &mdash; Cardápio Digital</title>
    <meta name="description" content="Cardápio digital para o seu negócio.">
    <meta name="keywords" content="menu, cardapio, qrcode, digital, comida">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v14.0" nonce="8g07UV1e"></script>
<section class="probootstrap-section-bg overlay" style="background-image: url(../static/img/hero_bg_2.jpg);" data-stellar-background-ratio="0.5" data-section="specialties">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center probootstrap-animate">
                <div class="probootstrap-heading">
                    <h2 class="primary-heading">QRDappio</h2>
                    <h3 class="secondary-heading">Menu</h3>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="probootstrap-section">
        <div class="container">
            <div class="row">
                <h3 id="temp_id" lass="text-center">Temperatura local: {{ temp.temperatura }} °C</h3>
            <script>
                var i = 1;
                var interval = setInterval( httpGet, 3000);
                function httpGet() {
                        var xmlHttp = new XMLHttpRequest();
                        xmlHttp.open( "GET", "http://localhost:8000/get_temp", false ); // false for synchronous request
                        xmlHttp.send( null );
                        document.getElementById("temp_id").innerText = "Temperatura: " + xmlHttp.responseText + "°C";
                    }

            </script>
            </div>
        </div>
    </section>
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="probootstrap-cell-retro">
                {% for item in itens %}
                <div class="half">
                    <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                        <div class="image" style="background-image: url({{ item.imagem }});"></div>
                        <div class="text text-center">
                            <h3>{{ item.nome }}</h3>
                            <p>{{ item.descricao }}</p>
                            <p class="price">R${{ item.preco }}</p>
                            <a href="/like/{{ item.id }}"><span class="btn btn-danger" >
                                {{ item.curtidas }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                                </svg>
                            </span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<br>
<br>
<center><a href="/management/login" class="btn btn-primary">Login</a></center>
<br>
<br>
<section class="probootstrap-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 probootstrap-animate">
                <div class="probootstrap-footer-widget">
                    <h3>Endereço</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p> Rua um dois três da Silva <br> Campinas</p>
                        </div>
                        <div class="col-md-6">
                            <p> Rua quatro cinco seis <br> Campinas </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 probootstrap-animate">
                <div class="probootstrap-footer-widget">
                    <h3>Horários de funcionamento</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Segunda - Quinta <br> 5:30pm - 10:00pm</p>
                        </div>
                        <div class="col-md-4">
                            <p>Sexta - Domingo <br> 5:30pm - 10:00pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>

<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>

    <div class="fb-like" data-href="https://projeto-integrador-poc.herokuapp.com/show" data-width="250" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>

</body>
</html>