<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Itens</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ID Item</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Imagem</th>
        <th>Preço</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for item in itens %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.nome }}</td>
        <td>{{ item.descricao }}</td>
        <td>{{ item.imagem }}</td>
        <td>{{ item.preco }}</td>
        <td>
            <a href="/edit/{{ item.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/delete/{{ item.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/emp" class="btn btn-primary">Adicionar novo item</a></center>
</body>
</html>